/*

https://learnui.design/tools/data-color-picker.html#palette

*/

html, body {
	font-family: sans-serif;
	font-size: .8rem;
	color: #73787D;
	height: 980px;
	width: 1640px;
}

body {
	margin: 0;
	padding: 0;
	background-color: #0E141B;
}

#_dash-global-error-container, #react-entry-point {
    height: 100vh;
}

#main {
	display: grid;
	grid-template-columns: 20vw 1fr;
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
}

#side_menu {
	background-color: #191F28;
	padding: 10px 5px 50px 5px;
}

#side_menu > h1 {
    font-size: 2rem;
	color: #73787D;
	padding: 10px 25px;
	display: block;
	border-bottom: 1px solid rgba(115, 120, 125, 0.25);
	text-transform: capitalize;
}

#side_menu > a {
	font-size: 1.5rem;
	color: #73787D;
	text-decoration: none;
	text-transform: capitalize;
	line-height: 1.65;
	padding: 10px 25px;
	display: block;
	border-bottom: 1px solid rgba(115, 120, 125, 0.25);
}

#output {
    height: calc(100vh - 50px);
    padding: 25px;
}

h1 {
    font-size: 2.25rem;
    color: #73787D;
    text-transform: Uppercase;
    font-weight: Bold;
    margin: 10px 0;
}

h2 {
    font-size: 1.5rem;
    color: #73787D;
    font-weight: 300;
    margin: 0;
}

h3{
    font-Size: 1.25rem;
    color: #73787D;
    font-weight: 400;
    margin: 0 0 10px 0;
}

h4 {
    font-Size: 1rem;
    color: #73787D;
    font-weight: 400;
    margin: 0 0 5px 0;
}

/*
    WRAPPERS
    Format = wrapper_{columns}x{rows}
*/

.wrapper_2x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    height: 1px;
}

.wrapper_1x2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    height: 1px;
}

.wrapper_1x3 {
    display: grid;
    grid-template-rows: 100px 45vh 30vh;
    grid-gap: 25px;
}

.center_items {
    display: grid;
    place-items: center;
    padding-bottom: 150px;
}

.span_horizontal_2 {
    grid-column: span 2;
}

.visual {
    padding: 25px;
    background-color: #191F28;
    border-radius: .65rem;
}

#vis_one_map_visual {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-gap: 25px;
}

#vis_one_supplementary_visuals {
    display: grid;
    grid-template-rows: 104px 1fr;
    grid-gap: 25px;
    height: 1px;
}

#rainfall_crash_count_and_rate {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-gap: 25px;
}

.visual_3_wrapper {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-gap: 25px;
}

#select_crash_time_nearest_minute input[type="radio"],
#select_sunset_nearest_minute input[type="radio"],
#bool_show_severity input[type="radio"],
#selected_chart_type input[type="radio"],
#selected_crash_calc input[type="radio"],
#selected_map_granularity input[type="radio"] {
    height: 1.25rem;
}

#select_crash_time_nearest_minute label,
#select_sunset_nearest_minute label,
#bool_show_severity label,
#selected_chart_type label,
#selected_crash_calc label,
#selected_map_granularity label {
    font-size: 1.25rem;
}

#selected_day_of_week,
#rainfall_filter_list {
    font-size: 1.35rem;
}

#selected_day_of_week label,
#rainfall_filter_list label {
    margin-right: 25px;
}

.mt-10 {
    margin-top: 10px;
}

/*
*[data-dash-is-loading="true"]{
    visibility: hidden;
}
*[data-dash-is-loading="true"]::after{
    content: "Loading...";
    color: magenta;
    visibility: visible;
}
*/